@import "tailwindcss";

:root {
  --color-primary-dark: #040f0f;
  --color-secondary-green: #248232;
  --color-bright-green: #2ba84a;
  --color-mid-dark-grey: #2d3a3a;
  --color-off-white: #fcfffc;

  --background: var(--color-off-white);
  --foreground: var(--color-primary-dark);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-roboto-mono);

  --color-primary-dark: var(--color-primary-dark);
  --color-secondary-green: var(--color-secondary-green);
  --color-bright-green: var(--color-bright-green);
  --color-mid-dark-grey: var(--color-mid-dark-grey);
  --color-off-white: var(--color-off-white);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}