@import "tailwindcss";

:root {
  --color-primary-dark: #040f0f;
  --color-secondary-green: #248232;
  --color-bright-green: #2ba84a;
  --color-mid-dark-grey: #2d3a3a;
  --color-off-white: #fcfffc;

  --background: var(--color-off-white);
  --foreground: var(--color-primary-dark);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
